<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My Blog" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/sidebar_navigation' %>
    <div id="main-wrapper">
      <div id="header">
        <% if current_page?(root_path) %>
          <p>All Posts</p>
        <%# elsif current_page?(about_path) %>
          <!-- <p>About Me</p> -->
        <%# elsif current_page?(contact_path) %>
          <!-- <p>Contact Me</p> -->
        <% else %>
          <%= link_to 'Back to all posts', root_url %>
        <% end %>
        <div class="buttons">
          <%= link_to 'Sign in', '#', class: 'button' %>
        </div>
      </div>
      <%= render 'layouts/messages' %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
